body{
	font-family: Arial, Helvetica, sans-serif;
	background-color: black;
	color:black;
	text-align:center;
}

a{
	background-color:white;
	border:2px solid orange;
}
a:hover{
	background-color:orange;
	border:2px solid green;
	color:blue	;
}
a:active{
	background-color:white;
	border:2px solid orange;
	color:black;
}
